<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs160.joleary.catnip" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OfficialList"/> //added this class to the file
        <activity android:name=".CongressionalView"/>
        <activity android:name=".Dianne"/>
        <activity android:name=".Judy"/>
        <activity android:name=".DetailedView"/>
        <activity android:name=".DetailedViewTwo"/>


        <service android:name=".PhoneToWatchService" />
        <!-- Listeners are special services that need to be declared like below, as BIND_LISTENER -->
        <service android:name=".PhoneListenerService"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <!--<uses-permission android:name="android.permission.INTERNET"/>-->
        <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>-->


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDJS4aWOvCIVrecBMvg8B1Z69I4D9_tvDM"/>



        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="618516266fdab2ee850090de146714cee1263bc7" />
    </application>

</manifest>
